extends layout
block content
  h1 Serwery
  table
    tr
      th User
      th Notatka
      th Username
      th Hostname
      th Aktywnych torrentów
      th Transfer
      th VNC
      th Dysk
      th Cena
      th Ważność
      each user in users
        each account in user.accounts
          tr
            td= user.user
            td= user.notes
            td= account.username
            td= account.hostname.hostname
            td= account.allowedTorrents
            td= account.allowedTransfer
            td= account.allowedVNC
            td= account.allowedCapacity
            td= account.price
            td= account.validity
            td: a(href='/admin/user/edit/#{user._id}') Edytuj
  script(type='text/javascript', src='/js/main.js')

