mixin multipartForm(name)
  .form
    form(method='post' enctype='multipart/form-data')
      label(for=name) #{name}
      input(type='file' name=name)
      button(type='submit') Upload

extends layout
block content
  +multipartForm('mbank')
  +multipartForm('paypal')
  h2= err
  if totalTransfers
    p Znaleziono przelewów: #{totalTransfers}
