extends ../layout

block content
  h1= user
  if data
    h2= __('Accounts')
    ul
      each account in data.accounts
        li: a(href='/panel/account/' + account.username) #{account.username}

  else
    h2= __('You don\'t have any accounts')

  h2= __('Wallet')
  p #{data.money} zł
