extends ../layout
block content
  form(method='post')
    h2= user
    input(type='text', name='username', value=account.username)
    label(for='payForAdmin') Pay for admin
    input(type='checkbox', name='payForAdmin', checked=account.payForAdmin)
    select(name='hostname')
      option(value=account.hostname._id) #{account.hostname.hostname}
      each server in servers
        option(value=server._id) #{server.hostname}
    label(for='allowedTorrents') Allowed torrents
    input(type='number', name='allowedTorrents', value=account.allowedTorrents)
    label(for='allowedTransfer') Allowed transfer
    input(type='number', name='allowedTransfer', value=account.allowedTransfer)
    label(for='allowedVNC') VNC
    input(type='checkbox', name='allowedVNC', checked=account.allowedVNC)
    label(for='allowedCapacity') Allowed capacity
    input(type='number', name='allowedCapacity', value=account.allowedCapacity)
    label(for='price') Price
    input(type='number', name='price', value=account.price)
    //TODO: Remove after Jade 2.0
    - var date = new Date(account.validity);
    - var year = date.getFullYear();
    - var month = date.getMonth() + 1;
    - var day = date.getDate();
    - month = month > 9 ? month : '0' + month;
    - day = day > 9 ? day : '0' + day;
    - var validity = year + '-' + month + '-' + day;
    input(type='date', name='validity', value=validity)
    button(type='submit') Edit
  table.payments
    tr
      th Data
      th Tytuł
      th Nadawca
      th Kwota
      each transfer in transfers
        tr
          td= transfer.date
          td= transfer.title
          td= transfer.sender
          td= transfer.amount
  script(type='text/javascript', src='/js/account-edit.js')
